body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #ad06f5;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .icon:hover {
    transform: scale(1.1) rotate(15deg); 
    filter: drop-shadow(0 0 10px rgba(59, 247, 1, 0.5)); 
  }
  
  .icon:active {
    transform: scale(0.9); 
  }
  
  .icon.clicked {
    filter: drop-shadow(0 0 20px rgba(0, 255, 0, 0.8));
  }
  